<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Tarantula</title>
    <%= stylesheet_link_tag "application.css" %>
    <%= javascript_include_tag "application" %>
    <link rel="SHORTCUT ICON" href="<%= asset_path 'favicon.ico' %>" />
  </head>
  <body style="background-color:white">
    <div style="/*background-image: url(<%= asset_path 'tarantula/login_gradient.jpg' %>);*/">
      <div style="height:611px;/*background: url(<%= asset_path 'tarantula/login_bg.jpg' %>) center center no-repeat*/">
        <img src="<%= asset_path 'tarantula/tarantula2.gif' %>"
        style="
          position: absolute;
          width: 372px;
          top: 153px;
          right: 50%;
        "
        />
        <% if @current_user and @current_user != :false -%>
        <p>
          <%= @current_user.login %> is logged in |
          <%= link_to("Logout",{:controller => :home, :action => :logout}) %>
        </p>
        <% end -%>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
